server {
    listen 80;

    location / {
        proxy_pass http://client-react-dev:$CLIENT_PORT;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;

        # the following two timeout rules fix CRA WDS disconnects after 60s
        proxy_read_timeout 86400s;
        proxy_send_timeout 86400s;
    }
    location /graphql {
        proxy_pass http://server-apollo-dev:$SERVER_APOLLO_PORT;
    }
}
